-
	var list = [
		{
			title: 'Web browser extensions',
			descr: 'The web browser extension allows passwords and other info to be autofilled.',
			coloredIcons: true,
			buttons: [
				{
					title: 'Chrome',
					icon: 'chrome.svg',
					colorSet: 'gray',
				},
				{
					title: 'Brave',
					icon: 'brave.svg',
					colorSet: 'gray',
				},
				{
					title: 'Opera',
					icon: 'opera.svg',
					colorSet: 'gray',
				},
				{
					title: 'Edge',
					icon: 'edge.svg',
					colorSet: 'gray',
				},
				{
					title: 'Yandex',
					icon: 'yandex.svg',
					colorSet: 'gray',
				},
				{
					title: 'Firefox',
					icon: 'firefox.svg',
					colorSet: 'gray',
				},
				{
					title: 'Safari',
					icon: 'safari.svg',
					colorSet: 'gray',
				},
			],
		},
		{
			title: 'Web App',
			descr: 'All of MultiPassword\'s features are available in any web browser.',
			buttons: [
				{
					title: 'Sign in',
					icon: 'fas fa-sign-in-alt',
					colorSet: 'green',
				},
				{
					title: 'Register',
					icon: 'fa fa-user-plus',
					colorSet: 'gray',
				},
			],
		},
		{
			title: 'Desktops',
			descr: 'Get the most out of MultiPassword password manager on your PC or laptop.',
			buttons: [
				{
					title: 'Windows',
					icon: 'fab fa-windows',
					colorSet: 'blue',
					dropdown: true,
					list: [
						'Windows x32',
						'Windows x64',
					],
				},
				{
					title: 'OSx',
					icon: 'fab fa-apple',
					colorSet: 'blue',
				},
				{
					title: 'Linux',
					icon: 'fab fa-linux',
					colorSet: 'blue',
				},
			],
		},
		{
			title: 'Mobile apps',
			descr: 'Enjoy quick, easy access to your passwords and other data from mobile devices.',
			buttons: [
				{
					title: 'App Store',
					icon: 'fab fa-app-store',
					colorSet: 'blue',
				},
				{
					title: 'Google Play',
					icon: 'fab fa-google-play',
					colorSet: 'blue',
				},
			],
		},
	];

section.download-section
	.container-xl
		each category in list
			.download-section__item.row.align-items-xl-center
				.col-12.col-xl-6
					h2.download-section__title.section-title.title-2 #{category.title}
					p.download-section__description #{category.descr}
				.col-12.col-sm-9.col-lg-7.col-xl-6
					.row
						each button in category.buttons
							.col-12.col-sm-6
								if button.dropdown
									a.download-section__btn.iconed-btn(href="#" class=(button.disabled ? 'is-disabled' : '') class=(button.colorSet ? 'download-section__btn--' + button.colorSet : ''))
										+icon(button.icon + ' iconed-btn__icon')
										span.iconed-btn__text #{button.title}
									.dropdown
										button(type="button" data-bs-toggle="dropdown" aria-expanded="false")
											+icon('iconed-btn__caret fa fa-caret-down')
										ul.dropdown-menu
											each item in button.list
												li #{item}
									//- button.download-section__btn.iconed-btn(type="button" data-bs-toggle="dropdown" aria-expanded="false" class=(button.colorSet ? 'download-section__btn--' + button.colorSet : ''))
								else
									a.download-section__btn.iconed-btn(href="#" class=(button.disabled ? 'is-disabled' : '') class=(button.colorSet ? 'download-section__btn--' + button.colorSet : ''))
										if category.coloredIcons
											span.iconed-btn__icon.iconed-btn__icon--img
												img(src="img/icons/browsers/" + button.icon alt=button.title + " logo" width="30" height="30")
										else
											+icon(button.icon + ' iconed-btn__icon')
										span.iconed-btn__text #{button.title}
