-
	var tariffs = [
		{
			name: 'Monthly',
			price: 0,
			fields: {
				sync: {
					title: 'Synchronization',
					value: 'fas fa-check',
					tooltip: 'Auto-sync on all devices',
					color: 'blue',
				},
				vaults: {
					title: 'Vaults available',
					value: 1,
					tooltip: 'Arrange passwords in different vaults: personal, work, family, etc',
					color: 'green',
				},
				multDevices: {
					title: 'Multiple devices',
					value: 'fas fa-check',
				},
				passLimit: {
					title: 'Passwod limit',
					value: 20,
				},
				crossPlat: {
					title: 'Cross-platform',
					value: 'fas fa-check',
				},
				highSec: {
					title: 'High security',
					value: 'fas fa-check',
				},
			},
			button: {
				text: 'Current plan',
				isDisabled: true,
			},
		},
		{
			name: 'Luxury style',
			price: 599,
			fields: {
				sync: {
					title: 'Synchronization',
					value: 'fas fa-check',
				},
				vaults: {
					title: 'Vaults available',
					value: 'fas fa-infinity',
				},
				multDevices: {
					title: 'Multiple devices',
					value: 'fas fa-check',
				},
				passLimit: {
					title: 'Passwod limit',
					value: 'fas fa-infinity',
				},
				crossPlat: {
					title: 'Cross-platform',
					value: 'fas fa-check',
				},
				highSec: {
					title: 'High security',
					value: 'fas fa-check',
				},
			},
			button: {
				text: 'Try for 30 days',
				isDisabled: false,
			},
		},
	]

section.home-tariffs#plans-section
	.container-xl
		h2.home-tariffs__title.section-title.title-2 Plan
		.row
			each tariff, idx in tariffs
				.col-12.col-lg-6
					.tariff-item(class=(idx === 1 ? 'tariff-item--gold' : ''))
						header.tariff-item__header
							.tariff-item__title #{tariff.name}
							.tariff-item__price
								span.tariff-item__currency Rub
								span.tariff-item__num #{tariff.price}
						table.tariff-item__table
							each field in tariff.fields
								tr.tariff-item__table-row
									td.tariff-item__table-cell #{field.title}
										if field.tooltip
											span.tariff-item__table-tooltip(data-bs-toggle="tooltip" data-bs-placement="right" title=field.tooltip class=(field.color ? 'tariff-item__table-tooltip--' + field.color : ''))
												+icon('fa fa-info-circle')
									td.tariff-item__table-value
										if typeof field.value == 'number'
											| #{field.value}
										else
											+icon(field.value)
						footer.tariff-item__footer
							a.action-btn(href="#" class=(tariff.button.isDisabled ? 'is-disabled' : '')) #{tariff.button.text}


