-
	var menu = [
		{
			title: 'Компания',
			items: [
				{
					title: 'Партнерам',
					url: '#',
				},
				{
					title: 'Пресса',
					url: '#',
				},
				{
					title: 'Контакты',
					url: '#',
				},
			]
		},
		{
			title: 'Подробнее',
			items: [
				{
					title: 'Возможности',
					url: 'features.html',
				},
				{
					title: 'Как это работает',
					url: 'how-it-works.html',
				},
				{
					title: 'Почему это безопасно',
					url: 'why-its-safe.html',
				},
				{
					title: 'Тарифы',
					url: '#',
				},
				{
					title: 'Генератор паролей',
					url: '#',
				},
			]
		},
		{
			title: 'Скачать',
			items: [
				{
					title: 'Windows',
					url: 'download.html',
				},
				{
					title: 'MacOS',
					url: 'download.html',
				},
				{
					title: 'Android',
					url: 'download.html',
				},
				{
					title: 'Linux',
					url: 'download.html',
				},
				{
					title: 'Браузеры',
					url: 'download.html',
				},
			]
		},
		{
			title: 'Поддержка',
			items: [
				{
					title: 'Помощь',
					url: '#',
				},
			]
		},
	];
-
	var policies = [
		{
			title: 'User agreement',
			url: '#',
		},
		{
			title: 'Privacy policy',
			url: '#',
		},
		{
			title: 'Payment processing terms and conditions',
			url: '#',
		},
	];

footer.footer
	.footer__top
		.container-xl
			.row
				each col in menu
					nav.footer-menu.col-12.col-md-6.col-lg-3
						h4.footer-menu__title #{col.title}
						ul.footer-menu__list
							each item in col.items
								li.footer-menu__item
									a.footer-menu__link(href=item.url) #{item.title} 
	.footer__bottom
		.container-xl
			.row
				.col-12.col-lg-3
					.footer__copy
						+icon('fas fa-copyright')
						span MultiPassword 
						| 2021
				.col-12.col-lg-6
					.footer__policies
						each policy in policies
							a.footer__policies-item(href=policy.url) #{policy.title} 
				.col-12.col-lg-3
					.footer__lang
						include lang-dropdown