-
	var menu = [
		{
			title: 'Company',
			items: [
				{
					title: 'Affiliate',
					url: '#',
				},
				{
					title: 'Press',
					url: '#',
				},
				{
					title: 'Contact us',
					url: '#',
				},
			]
		},
		{
			title: 'Learn more',
			items: [
				{
					title: 'Features',
					url: 'features.html',
				},
				{
					title: 'How it works',
					url: 'how-it-works.html',
				},
				{
					title: 'Why it\'s safe',
					url: 'why-its-safe.html',
				},
				{
					title: 'Plans',
					url: '#',
				},
				{
					title: 'Password generator',
					url: 'password-generator.html',
				},
			]
		},
		{
			title: 'Download',
			items: [
				{
					title: 'Windows',
					url: 'download.html',
				},
				{
					title: 'MacOS',
					url: 'download.html',
				},
				{
					title: 'Android',
					url: 'download.html',
				},
				{
					title: 'Linux',
					url: 'download.html',
				},
				{
					title: 'Browsers',
					url: 'download.html',
				},
			]
		},
		{
			title: 'Support',
			items: [
				{
					title: 'Help',
					url: 'help-index.html',
				},
			]
		},
	];
-
	var policies = [
		{
			title: 'User agreement',
			url: '#',
		},
		{
			title: 'Privacy policy',
			url: '#',
		},
		{
			title: 'Payment processing terms and conditions',
			url: '#',
		},
	];

footer.footer
	if !miniFooter
		.footer__top
			.container-xl
				.row
					each col in menu
						nav.footer-menu.col-12.col-md-6.col-lg-3
							h4.footer-menu__title #{col.title}
							ul.footer-menu__list
								each item in col.items
									li.footer-menu__item
										a.footer-menu__link(href=item.url) #{item.title} 
	.footer__bottom
		.container-xl
			.row
				.col-12.col-lg-3
					.footer__copy
						+icon('fas fa-copyright')
						span MultiPassword 
						| 2021
				.col-12.col-lg-6
					.footer__policies
						each policy in policies
							a.footer__policies-item(href=policy.url) #{policy.title} 
				.col-12.col-lg-3
					.footer__lang
						include lang-dropdown