//- svg sprite insert
mixin svg(classes, anchor, title, desc, attrObj)
	svg(class=classes)&attributes(attrObj) 
		use(href="/img/sprite.svg#" + anchor)
		if title
			title=title
		if desc
			desc=desc
	//- example:
		+svg(
			'some-class',
			'icons--googleLogo',
			'Some title',
			'google logo',
			{
				'role': 'img',
				'aria-role': 'image'
			}
		)
	
//- icon fonts
mixin icon(classes, title = false)
	i(class=classes aria-hidden="true" title=title)

//- mixin iconedBtn(type = 'link', classes, icon, text, attrObj)
	if type == 'link'
		a.home-hero__signup.iconed-btn(href="#")&attributes(atrrObj)
			+icon('iconed-btn__icon')
			span.iconed-btn__text #{text}
	else if type == 'button'
		button.iconed-btn(type="button")
